:root {
  --ion-color-primary: #6c0092;
  --ion-color-primary-rgb: 108, 0, 146;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #5f0080;
  --ion-color-primary-tint: #7b1a9d;
}
