<app-layout>
<section class="breadcrumb-area">
  <div class="container">
    <div class="content">
      <h2 class="title">About Us</h2>
      <ul class="breadcrumb-list extra-padding">
        <li><a routerLink="/">Home</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="about-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="left-image">
          <img src="assets/images/about-left.png" alt>
        </div>
      </div>
      <div class="col-lg-6 align-self-center">
        <div class="right-content">
          <div class="section-header">
            <h2 class="title">About us</h2>
            <p>
              We offer the possibility to play the world's biggest lotteries online. Our site was designed with a lottery player in mind. We are lotto fans ourselves, therefore we know what it takes to satisfy one.
            </p>
            <p>
              Our team is build up with lottery enthusiasts, but also industry professionals. Our designers and developers ensure the smoothest lotto playing experience. Support is also a pillar of our operations. Our agents are always thriving to help.
            </p>
            <p>Your satisfaction is our goal!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</app-layout>